$dark-primary-color: #455a64;
$light-primary-color: #cfd8dc;
$primary-color: #607d8b;
$accent-color: #03a9f4;
$custom-white: #ffffff;
$primary-tex: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

$font-stack: "IBM Plex Sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  width: 100%;
  font-size: 1.6rem;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0rem;
  height: 8rem;
  background-color: $dark-primary-color;
  color: $custom-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.6rem;
  -webkit-box-shadow: 0px 17px 13px 0px rgba(33, 33, 33, 0.26);
  -moz-box-shadow: 0px 17px 13px 0px rgba(33, 33, 33, 0.26);
  box-shadow: 0px 17px 13px 0px rgba(33, 33, 33, 0.26);
  p {
    font-size: 2rem;
  }
  &__buttons {
    display: flex;
    gap: 1.5rem;
    button {
      background: none;
      border-style: none;
      place-self: center;
      svg {
        &:hover {
          box-shadow: 0px 0px 13px 0px $light-primary-color;
          cursor: pointer;
        }
      }
    }
  }
}

.main {
  margin-top: 8rem;
  padding: 1.6rem;
}

footer {
  background-color: $light-primary-color;
}
